@import 'font.scss';

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-mute: rgba(255,255,255, 0.3);
  --vt-c-green: hsla(160, 100%, 37%, 1);
  --vt-c-valid: #29ec29;
  --vt-c-grey: #333333;
  --vt-c-grey2: #6c6a6a;
  --vt-c-grey_light: rgba(222, 230, 232, 0.25);
  --vt-c-grey_dark: #93989a;
  --vt-c-blue_dark: #c0c3c4;
  --vt-c-blue_light: #f3f7f8;
  --vt-c-red: red;
  --vt-c-yellow: #f8e517;
  --vt-c-fiolet: rgb(177, 114, 193);
  --vt-c-black: #000000;

  --vt-c-common-gap: 1rem;
}









