@import "./base.scss";

a {
  text-decoration: none;
  color: var(--vt-c-green);
  transition: 0.2s;
}

a.router-link-exact-active {
  color: var(--vt-c-fiolet);
}

@media (hover: hover) {
  a:hover {
    opacity: 0.6;
  }
}

h1 {
  font-size: 1.5rem;
}
