<script setup lang="ts">
import {QualificationText} from './assets/QualificationText'


</script>

<template>
  <header>
    <h1># Qualification</h1>
  </header>

  <article v-html="QualificationText">
  </article>
</template>

<style scoped leng="scss">
article {
  white-space: pre-wrap;
  padding-bottom: calc(var(--vt-c-common-gap) * 6);
}

:deep .user-for {
  color: var(--vt-c-fiolet);
}
</style>