<script setup lang="ts">
//@ts-ignore
import {VueComponent} from '../../../README.md'


</script>

<template>
  <article>
    <VueComponent />
  </article>
</template>

<style scoped leng="scss">
article {
  white-space: pre-wrap;
  padding-bottom: calc(var(--vt-c-common-gap) * 6);
}
</style>