<script setup lang="ts">

</script>

<template>
  <nav>
    <RouterLink to="/" exact>Solution</RouterLink>
    <RouterLink to="/project">Project</RouterLink>
    <RouterLink to="/qualification">Qualification</RouterLink>
  </nav>
</template>

<style scoped lang="scss">
@import "@/assets/style/font.scss";

nav {
  width: 100%;
  height: rem(40);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px var(--vt-c-grey_dark) solid;

  & :not(:first-child) {
    margin-left: var(--vt-c-common-gap);
  }
}
</style>
