<script setup lang="ts">
import { ofetch } from 'ofetch'

let data = await ofetch('https://jsonplaceholder.typicode.com/todos/1')



</script>

<template>
  <main>
    <h1>= HOME =</h1>

    <div>main branch</div>
    <div v-if="!!data">fetch ==== {{ data }}</div>

  </main>
</template>

<style scoped>

</style>
