<script setup lang="ts">
import GrandMenu from '@/components/GrandMenu.vue'

</script>

<template>
  <div class="app-wrapper">
    <GrandMenu/>

    <Suspense>
      <RouterView />
    </Suspense>
  </div>
</template>

<style lang="scss">
@import "@/assets/style/font.scss";

#app {
  max-width: rem(600);
  min-height: 100vh;
  margin: 0 auto;

}


</style>
